@CHARSET "UTF-8";

	#header{
		height : 70px;
		
	}
	#visual{	
		height : 171px;
		/* background:#313131 url("../images/bg-visual.png") no-repeat center; */
		
		border-top:3px solid #8CBA34;
	}
	#body{	
		min-height : 300px;
		border-top:5px solid #8CBA34;
		margin-top:1px;
		background:url("../images/bg-body.png") repeat-y center;
	}
	#main{
		height:inherit;
		width : 755px;	
		float : left
	}
	#aside{
		height : inherit;
		width: 205px;
	
		float : left	
	}
	#footer{
		height : 100px;
		background:#313131;
	}
	.content-wrapper{
		width : 960px;
		height : 100%;
		min-height : inherit;
		margin-left:auto;
		margin-right:auto;
	
		/* <!--opacity : 0.3;-->	 */
	}
	 .clearfix:after{
		content:".";
		display : block;
		clear : both;
		visibility : hidden;
		line-height : 0;
		height : 0;		
	} 
	#quick-menu{
		height:10px;
		width:100%;
		background:white;;
		/* position:absolute; */
		position:fixed;
		/* top:800px; */
		bottom:0px;
	}
	
/* 	<!--상속받아서 마우스를 올렸을때 지정한 크기로 변경 --> */
	#quick-menu:hover{	
		height:70px;
		background:blue;
		color:white;		
	}
	
	#visual .content-wrapper{
		/* background: url("../images/visual.png") no-repeat center; */
	}